{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<style>
    .w-manual {
        width: 400px;
    }
    
    #quote {
        color: orangered;
        background-color: white;
        width: auto;
        padding: 7px;
        margin: 0;
    }
    
    #index-content {
        padding-top: 250px;
    }
    
    #index-container {
        margin-bottom: 250px;
    }
    
    @media screen and (max-width: 550px) {
        .w-manual {
            width: auto;
        }
    }
</style>

<div class="clearfix overflow-hidden" id="index-container">
    <img class="img-fluid position-absolute" src="{% static 'img/volunteer_header.jpg' %}" alt="">
    <div class="container position-relative" id="index-content">
        <div class="w-manual">
            <h4 id="quote">be a part of something bigger</h4>
        </div>

        <div class="text-center">
            <a href="{% url 'about:about' %}">
                <button class="btn btn-warning mt-3 text-white ">learn more</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}