<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-theme fixed-top">
    <div class="container">
        <a id="header-title" class="navbar-brand" href="#">Project 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'index' %}active{% endif %}" href="{% url 'base:index' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'hub' %}active{% endif %}" href="{% url 'project_hub:hub' %}">Hub</a>
                </li>

                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link {% if nbar == 'profile' %}active{% endif %}" href="{% url 'user_profile:profile' %}">Profile</a>
                    <a href="{% url 'login:logout' %}"><button class="btn btn-danger"> Logout </button></a>

                    {% else %}
                    <a href="{% url 'login:login' %}" ><button class="btn btn-success"> Login </button></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>