{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<style>
    .panel h2 { 
        color:#444444;
        font-size:18px;
        margin:0 0 8px 0;
    }
    
    .panel p {
        color:#777777;
        font-size:14px;
        margin-bottom:30px;
        line-height:24px;
    }
    
    .main-div {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 2px;
        border-style: solid;
        border-color: orange;
        margin: 10px auto 30px;
        max-width: 38%;
        padding: 50px 70px 70px 71px;
    }

    .login-form .form-group {
        margin-bottom:10px;
    }
    
    .login-form{
        text-align:center;
    }
    
    .login-form  .btn.btn-primary {
        border-color: #f0ad4e;
        color: #ffffff;
        font-size: 14px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }
    
    .form-check {
        text-align: left;
    }
    
    @media screen and (max-width: 750px) {
        .main-div {
            max-width: 60%;
        }
    }
    
    @media screen and (max-width: 550px) {
        .main-div {
            max-width: 80%;
            padding: 50px 30px 70px 30px;
        }
    }
</style>

<div class="container">    
    <div class="login-form pt-5">
        <div class="main-div">
            <div class="panel">
                {% if user.is_authenticated %}
                <h2 class="display-4">Hello, {{ user.username }} apa kabar?</h2>
                <h2 class="display-4">{{ user.first_name }} {{ user.last_name }}</h2>
                <a href="{% url 'login:logout' %}"><button type="button" class="my-3 btn btn-danger"> Logout </button></a>
                {% else %}
                <h2>Hello, please login</h2>
                <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="my-3 btn btn-success"> Login using Google account </button></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}