{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<!--img class="img-fluid w-100 mb-3" src="https://www.clipartmax.com/png/middle/84-847175_clownfish-under-construction-logo-free.png">
<div class="container">
    <h2>Hello, this page is under construction</h2>
</div-->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

<style type="text/css">
.columntxt{
    float: left;
    width: 50%;
    flex-wrap: wrap;
    content: auto;
    max-width: 800px
}
	/* CSS WHat We Do Create three equal columns that floats next to each other */
.columnDonate {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 300px; /* Should be removed. Only for demonstration */
 
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    max-width: 800px
    margin: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .columnDonate {
        width: 100%;
    }
}
</style>
<title>About</title>
<div class="main" id="section2"><section>
		<h1 style="padding-top: 50px; padding-bottom: 30px; text-align:center; font-family: 'Ubuntu'">About Us</h1>
		<div class="row" style="max-width: 800px; margin: auto;" >	
			<div class="columntxt" style="margin: auto;">
				<p>Lorem ipsum dolor sit amet, consectetur adipi elit. Cras mollis ligula mauris, vitae porttitor nunc maximus Integer fringilla place acLorem ipsum dolor sit amet, consectetur adipiscing elit.  
				Lorem ipsum dolor sit amet, consectetur adipi elit. Cras mollis ligula mauris, vitae porttitor nunc maximus Integer fringilla place acLorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Etiam ut erat et nisi pulvinar accumsan. Curabitur imperdiet at sem vel elementum.</p>
			</div>
			<div class="columntxt">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/5d0b0d929ceb4946a6561a84cd1be213?quality=95&fake=.png" alt="SinarPerak" style="float:center; width: 100%;">	
			</div>
		</div>
	</section></div>


	<div class="main" id="section3">
  	<section>
	<h2 style="font-family: 'Ubuntu'; text-align: center; padding-top: 50px; padding-bottom: 20px; margin: auto; ">What We Do</h2>
	<p style="text-align: center; margin: auto; max-width: 800px">We create events aiming to pear to the voice for children and gather for support. 
	Please update with our events and confirm you presence.</p>
	<br>
	<div class="row" style="max-width: 800px;text-align: center; margin-left: auto; margin-right: auto; display: block;">
	  <div class="columnDonate">
	  	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/d1c335fbb86d439f9e108079b6468706?quality=95&fake=.png" alt="Education" style="float:center; width: 200px; height: 200px;">
	    <h4>Donate For Education</h4>
	    <p>Some text..</p>
	  </div>
	  <div class="columnDonate" style="background-color:white;">
	  	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/09516ff81268487186e847b6a52110f3?quality=95&fake=.png" alt="Food" style="float:center; width: 200px; height: 200px;">
	    <h4>Donate For Food</h4>
	    <p>Some text..</p>
	  </div>
	  <div class="columnDonate" style="background-color:white;">
	  	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/f5f910f705074b9f869f1e37654f6341?quality=95&fake=.png" alt="Water" style="float:center; width: 200px; height: 200px;">
	    <h4>Donate For Water</h4>
	    <p>Some text..</p>
	  </div>

	  <br><br>
	  	{% if user.is_authenticated %}
	 	<div class="container" style="max-width: 400px; margin-left: auto; margin-right: auto; display: block;">
	 		<h1 style="margin-bottom: 20px; font-family: 'Ubuntu'">Testimoni</h1>
	 		
		 	<textarea type="text" name="testimoni input" id="testi" placeholder="Type something.."style="width: 250px; height: 100px"></textarea> 
		  	<button type="submit" class="button" onclick="showTesti()" style="font-family: 'Ubuntu'; color: white; background-color: #43C6E5; border-style: none; padding: 10px; width: 250px; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto;display: block;">Add testimoni</button>
	  	</div>

	  		{% else %}
	  		<h1 id="testi" style="font-family: 'Ubuntu'; margin-top: 20px">Testimoni</h1>
		  	
		  	{% endif %}
	  	<div id="testimoni-container" class="container" style="max-width: 800px; margin-top: 50px;"></div>
	 	

	</div>
	</section></div>

<script type="text/javascript">
    $(document).ready(function() {
        showTesti();
    });
                      
    function showTesti() {
        $.ajax({
            type: 'GET',
            url:'/testimoni/',
            data: {
                'name': "{{ user.username }}",
                'description': $('#testi').val()
            },
            success: function(data){
                var testi_cards = '<div class="maTesti row">';
                $.each(data, function(key, value){
                    testi_cards += '<div class="col-sm-12 mb-4">';
                    testi_cards += '<div class="card">';
                    testi_cards += '<div class="card-body">';
                    testi_cards += '<h5 class="card-title">'+ value.name +'</h5>';
                    testi_cards += '<h6 class="card-subtitle mb-2 text-muted">'+ value.description +'</h6>';
                    testi_cards += '</div></div></div>';
                    
                });

                $(".maTesti").remove();
                $('#testimoni-container').append(testi_cards);  

            }	
        });
    }
</script>

{% endblock %}