{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<style>
    #category{
        padding: 8px;
        color: yellow;
        background-color: orange;
    }
    
    .card img{
        max-height: 500px;
        border-style: solid;
        border-color: orange;
    }
</style>

<div class="container pt-4">
    <div class="row">
        <div class="col-sm-7 mb-3">
            <div class="p-3 card">
                <img class="d-block w-100" src="{{ project.get_image }}" alt="Third slide">
                <div class="card-body p-4">
                    <h7 id="category">{{ project.category }}</h7>
                    <br><br>
                    <h1 class="card-title">{{ project.title }}</h1>
                    <p class="card-text">{{ project.content|safe }}</p>
                    <p class="card-text"><small class="text-muted">Last updated {{ project.modified_date }}</small></p>
                </div>
            </div>
        </div>

        <div class="col-sm-5 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">Progress :</h6>

                    <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ project.get_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.get_progress }}%"></div>
                    </div>
                    
                    <div class="clearfix">
                        <p class="text-muted float-left">current: <span id="current-progress">{{ project.current_donation }}</span></p>
                        <p class="text-muted float-right">goal: <span id="current-progress">{{ project.max_donation }}</span></p>
                    </div>
                    
                    <a href="{% url 'donate:generate_donation_page' project.id project.slug_title %}"><button type="button" class="text-white btn btn-warning">Donate</button></a>
                </div>
            </div>
            
            <div class="card mt-3">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">Patreon :</h6>                    
                    <ul class="mb-0">
                        {% for patreon in project.patreon.all %}
                        <li><span class="float-left">{{ patreon.name }}</span><span class="float-right pr-4">{{ patreon.donation }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}