{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<style>
    body,html{
        height: 100%;
        width: 100%;
    }
    .user-data {
        margin: 100px;
        margin-left: 50px;
        margin-right: 50px;
        width: auto;
        height: 400px;
    }
    .picture {
        border: 2px;
        outline-color: black; 
        height: auto;
        float: left;
    }
    .info {
        height: 100%;
        float: right;
    }
    .history{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>
<div class="container">
    <div class="user-data">
        <div class="picture col-lg-4">
            <img src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="">
        </div>
        <div class="info col-lg-8">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <h1 id="username">{{user.username}}</h1>
        </div>
    </div>
    
    <div class="history">
        <h1>Donation History</h1>
        <div class="history-list ml-4 mb-5"></div>
    </div>
    
    <div class="history">
        <h1 id="totalDonation">Total Donation : </h1>
    </div>
</div>

<script>
    $(function(){
        search($("#username").text());

        function search(value){
            $.ajax({
                type: 'GET',
                url:'/get_json/',
                data: {
                    'name': value,
                },
                success: function(result){
                    var totalDonation = 0;
                    
                    $.each(result, function(key, value){
                        totalDonation += value.amount;
                        console.log(value);
                        console.log(totalDonation);
                        $(".history-list").append(value.program+"<br>");
                    });
                    
                    $("#totalDonation").append('<span class="text-success">'+totalDonation+'</span>');
                }
            });
        }
    });
</script>
{% endblock %}